@import "../../variables/variables.scss";

.welcome-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  border-bottom: 20px solid #fff;

  &__heading {
    font-size: 2.18rem;
    font-weight: 900;
    margin-bottom: 60px;
  }

  &__img-wrapper {
    width: 100%;
    margin-bottom: -60%;

    & img {
      width: 100%;
    }
  }

  &__buy-btn {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 80px;
    height: 5rem;
    height: 5rem;
    border: none;
    background-color: $primaryYellow;
    border-radius: 50%;
    box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 768px) {
  .welcome-section {
    &__buy-btn {
      display: none;
    }
  }
}
