@import "../../variables/variables.scss";

.nav {
  padding: 3.75rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-wrapper {
    width: 6rem;
  }

  &__logo {
    width: 100%;
  }

  &__burger-btn {
    background-color: transparent;
    border: none;
    outline: none;

    & img {
      width: 100%;
    }
  }

  &__links-wrapper {
    display: none;
  }

  &__link {
    list-style: none;
    margin: 0 47px;
    & a {
      color: #000;
      text-decoration: none;
    }
  }

  &__buy-btn {
    display: none;
    background-color: $primaryYellow;
    border: 2px solid $primaryYellow;
    box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
    width: 152px;
    height: 57px;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 28.5px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .nav {
    padding: 2.81rem 6.875rem;

    &__links-wrapper {
      display: flex;
    }

    &__burger-btn {
      display: none;
    }

    &__buy-btn {
      display: block;
    }
  }
}
